<h1>Admin::Dashboard#show</h1>

<%= link_to 'Products',  [:admin, :products], class: 'btn btn-info' %>
<%= link_to 'Categories',  [:admin, :categories], class: 'btn btn-info' %>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>
